{{form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formView)}}
        <button class="badge btn-bo edit">{{ button_label|default('Enregistrer') }}
        </button>
{{ form_end(formView) }}