{% block footer %}
    <footer class="text-muted text-center py-5">
        <div class="container">
            <p class="mb-1">2021 &copy; 80's Flix. Tous droits réservés</p>
            <a href="https://www.flaticon.com/free-icons/sea" title="sea icons">Sea icons created by Freepik - Flaticon</a>
        </div>
    </footer>
{% endblock %}