{% block footer %}
    <footer class="text-center">
        <div class="container">        
            <p class="mb-1">| 2022 &copy; 80's Flix | Tous droits réservés |</p>
        </div>
    </footer>
{% endblock %}