/* =========================== */
/*            SETUP            */
/* =========================== */

@font-face {
  font-family: 'Lazer';
  src: url('../fonts/lazer84.ttf');
}

@font-face {
  font-family: 'Syne Mono', monospace;
  src: url('../fonts/ROBOTECH\ GP.ttf');
}

:root{
  --bg-purple: /* #552183 */ /* #483531 */ black;
  --color-turquoise: /* #30D5C8 *//* #6EA2B0 *//* #199CB5 */#0FDBC0;
  --color-yellow: #F1970B;
  --color-white: /* #EBDCC5 */ white;
  --color-pink: /* #B07B83 */#DB3ED4;
  --color-orange: #C25512;
  --color-placeholder: #817857;
  --color-red: #C64034;

  /* backoffice */  
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px; 
  --bs-cyan: #0dcaf0;
}

html,
body {
    height: 100%;
    letter-spacing: 1px;    
    font-family: 'Syne mono', cursive;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    background: url('../img/confettisviolet.svg');
    text-shadow: 2px 0px 2px var(--color-pink), 0 0 0.5em blue, 0 0 0.3em blue;
    color: var(--color-white);
}

ul, li{
  list-style-type: none;
}

a{
  text-shadow: none;
  text-decoration: none;  
}


/* =========================== */
/*            NAVBAR           */
/* =========================== */

nav{
  background: var(--bg-purple); 
  border: blur(4px);
  font-family: 'Syne Mono', monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* NAVBAR >> LOGO */
.navbar-brand{
  font-family: 'Lazer';
  transform: rotate(-15deg) translate(-15px, 22px);
}

/* NAVBAR >> CONNEXION NAME */
#navbarCollapse .d-flex .my-2{
  color: var(--color-white);
  font-size: 1.5rem;
}

/* NAVBAR >> ITEMS */
.nav-item{
  padding: 0 10px;
}

/* NAVBAR >> ITEMS HOVER & FOCUS */
.nav-item :hover{
  color: var(--color-turquoise);
  transition-duration: 0s;
  text-decoration: underline overline 1px var(--color-pink);
  text-underline-offset: 5px;
}

/* NAVBAR >> LINK'S ITEMS */
.nav-link/* , .d-flex:hover */{
  color: var(--color-white);
}

.fw-light.search-result{
  font-family: 'Syne Mono', monospace;
  text-transform: uppercase;
}


/* =========================== */
/*             LOGO            */
/* =========================== */

.logo-text{
  text-shadow: 
    2px 0px 2px var(--color-pink), 
    0 0 0.3em var(--color-pink), 
    0 0 0.3em var(--color-pink);

  letter-spacing: 5px;
  display: inline-block;
  color: var(--color-white);
  font-size: 1.8rem;  
  padding: 12px 30px 0px 0px;
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    filter:
    drop-shadow(0px 0px 1px black)
    drop-shadow(0px 0px 3px purple)
    drop-shadow(0px 0px 10px #DB3ED4)
    drop-shadow(0px 0px 30px #DB3ED4)
    drop-shadow(0px 0px 50px #DB3ED4);
  }

  100% {
    filter:
    drop-shadow(0px 0px 3px black)
    drop-shadow(0px 0px 6px purple)
    drop-shadow(0px 0px 15px #DB3ED4)
    drop-shadow(0px 0px 40px #DB3ED4)
    drop-shadow(0px 0px 60px #DB3ED4);
  }
}

/* ============================*/
/*            CARDS            */
/* =========================== */

/* CARDS >> CONTAINER OF CARDS-GROUP */
.py-5{
  height: 40%;
}

/* CARDS >> TEXT OF CARDS */
.card-body{
  background-color: var(--color-white);  
  font-family: 'Syne Mono', monospace;
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: none;
  color: var(--bg-purple);
}  

/* .d-flex{
  align-items: flex-end;
} VERIFIER */

/* CARDS >> TITLE OF SERIES */
.card-text-title{
  width: 100%;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  font-weight: bold;
  transform: translateY(-0.5rem);
  color:var(--bg-purple);
  border-right: 1.8px solid var(--color-pink);
  border-bottom: 1.8px solid var(--color-pink);
  box-shadow: 2px 2px 6px blue; 
}

/* CARDS >> RESUME OF SERIES */
.card-text-description{
  height: 8rem;  
  text-transform: capitalize;
}

/* CARDS >> IMG OF SERIES */
img.img-fluid {
  width: 100%;
  height: 270px;
  object-fit: cover;
  
  border: 5px solid var(--color-white)
}

/* CARDS >> ICON LIKES */
.like{
  width: 18px;
}

.icons-card{
  display: flex;
  align-items:flex-end;
  margin-bottom: 1.3rem;
  margin-left: 2.5rem;
  justify-content: space-between;
  width: 80px;
}

/* CARDS >> RENDER LIKES */
small a{
  font-size: 16px;
  color: var(--bg-purple);
  text-decoration: transparent;  
}


/* =========================== */
/*           BUTTONS           */
/* =========================== */

.btn{
  height: 3rem;
  background-color: transparent;
  color: var(--color-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  border-color: black;
}

/* BUTTONS >> MODAL - DETAILS OF A CHARACTER */
.btn-chara{
  color: var(--bg-purple);
}

/* BUTTONS >> HOVER & FOCUS */
.btn:hover, p a:hover, .btn-chara:hover{
  background-color: transparent;   
  color: var(--color-white);
  filter:
  drop-shadow(0px 0px 3px blue)
  drop-shadow(0px 0px 6px var(--color-white))
  drop-shadow(0px 0px 7px #DB3ED4)
  drop-shadow(0px 0px 10px #DB3ED4)
  drop-shadow(0px 0px 15px #DB3ED4);
  transition-duration: 0s;
  border: none;
}


.btn-home{
  margin-top: 2rem;
  margin-bottom: 0;
}




/* BUTTONS >> DECONNEXION */
a.btn.mx-2.deco{
  border: none;
  color: var(--color-turquoise);
  text-decoration: underline 1px var(--color-pink);
  text-underline-offset: 5px;
}

a.btn.mx-2.deco:hover{
  border: none;
  color: var(--color-white);
  text-decoration: none;
}

span.badge a:hover{
  text-shadow:inherit;
}

/* BUTTONS >> BUTTON-GROUP BOTTOM OF CARDS */
.btn-group{
  gap: 3rem;  
  align-items: flex-end;    
}

/* BUTTONS >> BUTTONS SEE & EDIT BOTTOM OF CARDS */
.btn-group a.btn{
  text-decoration: underline overline var(--color-pink);
  text-underline-offset: 6px;
  align-items: flex-end;  
  color: var(--bg-purple);
  border: none;
  font-size: 1rem;
}

/* BUTTONS >> BUTTONS SEE & EDIT BOTTOM OF CARDS HOVER & FOCUS*/
.btn-group a.btn:hover{
  text-decoration: none;
  color: var(--color-white);
}

/* BUTTONS >> CONNEXION & SUSCRIBE BUTTONS */
button.w-100.btn{
  margin: 30px 0;
  font-family: 'Syne Mono', monospace;;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  /* border: 1px solid var(--color-pink); */
  padding: 5px 0;
}

.btn.noborder{
  border:none;
}

.favorite a svg{
  width: 16px;
  height: auto;
  margin-top: 6.5px;
}

/* =========================== */
/*          ALERT MSG          */
/* =========================== */

.alert{
  color: white;
  font-family: 'Syne Mono', monospace;
  text-shadow: none;
  text-decoration: none;  
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  background-color: var(--bg-purple);
  
}

.alert-danger{
  border: 1px solid #fc5130;
  border-left: 2rem solid #fc5130;  
}

.alert-success{
  border: 1px solid var(--color-turquoise);
  border-left: 2rem solid var(--color-turquoise);
}


/* =========================== */
/*       SERIES DETAILS        */
/* =========================== */

/* SERIES DETAILS >> ACCORDION TEXT */
.accordion-body ul li{
  font-size: 1rem;
}

/* SERIES DETAILS >> CATEGORIES LIST */
.badge{
  border: 1px solid var(--color-turquoise);
  font-weight: 400;
}

.modal{
  color: var(--bg-purple);
  text-shadow: none;
  letter-spacing: normal;
}

.roundimg{
  float: right;
  width : 150px; height : 150px;
  border: 1px solid black;
  box-shadow:8px 6px 10px rgba(0, 0, 0, 0.445);
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  object-fit: cover;
}
/* .badge a:hover{
  text-shadow: inherit;
} */

/* =========================== */
/*           FOOTER            */
/* =========================== */

/* FOOTER >> TEXT */
footer .mb-1{
  color:var(--color-white);  
  font-size: 1.2rem;
  text-transform: uppercase;
}


/* =========================== */
/*            TEXTS            */
/* =========================== */

/* TEXTS >> H1 */
h1, p.lead{
  font-family: 'Lazer';
  text-shadow: 2px 0px 2px var(--color-pink), 0 0 0.5em blue, 0 0 0.3em blue;
  color: var(--color-white);
}



p.lead, h2{  
  font-family: 'Syne Mono', monospace;
  font-size: 2.5rem;
  text-transform: uppercase;  
  margin-top: 5px;
}

h2{
  word-spacing: normal;
}


.active{
  color: var(--color-turquoise);
  text-decoration: underline overline 1px var(--color-pink);
  text-underline-offset: 5px;
}

.lead.lead-welcome{  
  margin-top: 2rem;
}

.bien, .re, .venue, .user-name{
  font-family: /* 'Syne Mono', cursive */'Lazer';
  letter-spacing: 0.35rem;
  font-size: 2.5rem;
}

.re{
  margin-left: -1.5rem;
  margin-right: -1.6rem;
  font-size: 3rem;
}


.lead.lead-news{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.lead-welcome{
  margin-top: 2rem;
}

.py-lg-5{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-5{
  background-color: var(--bg-purple);
  margin-top: 0;
}



svg{
  /* margin-right: 20px;
  margin-left: 20px;  */
  shape-rendering: crispEdges;
  fill: url(#MyGradient);
}

/* =========================== */
/*            FORMS            */
/* =========================== */

/* FORMS >> CONNEXION'S FORM */
.form-signin {
    width: 100%;
    max-width: 400px;
    height: 75vh;
    padding: 15px;
    margin: auto;
}

.form-signin p{
  font-size: 1.8rem;
  font-family: 'Syne Mono', monospace;;
}

p a{
  font-size: 1.6rem; 
  color: var(--color-turquoise); 
  text-decoration: underline 1px var(--color-pink);
  text-underline-offset: 5px;
} 

p a:hover{
  text-decoration: none;
}


/* FORM >> TEXT OF LABELS */
label{
  text-shadow: none;
  color: grey;
  font-family: 'Syne Mono', monospace;
  font-style: italic;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 1.4rem;
  float: left;
}


/* FORM >> EMAIL CONNEXION'S INPUT */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;    
}

/* FORM >> EMAIL PASSWORD'S INPUT */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;    
}

/* FORMS >> CHECKBOXES */
.form-signin .checkbox {
  font-weight: 400;
}

/* .form-signin .form-floating:focus-within {
    z-index: 2;
} VERIFIER */

/* FORMS >> FILLING OF INPUTS */
input.form-control, textarea, select.form-select{
  background-color: var(--color-white);
  height: 3.5rem;
  color: var(--bg-purple);  
  font-family: 'Syne Mono', monospace;
  font-size: 1.5rem;
}

label.form-label.required, .mb-3{
  font-family: 'Syne Mono', monospace;
  font-size: 1.5rem;
}

input.form-control#search{
  background-color: transparent;
  color: var(--color-pink);
}


/* FORMS >> CONNEXION BUTTON HOVER */
form button.w-100.btn:hover{
  border: none;
  transition: 0s;
}




/* i{
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-pink), var(--color-turquoise));
} */




#error{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.445);
}

/* SEARCH >> REMIND RESEARCH */
.true{
  font-style: italic;
  font-weight: bold;
  text-decoration: underline 1px var(--color-pink);
  text-underline-offset: 5px;
}

/* SEARCH >> RESULTS */
.charalist{
  margin: 0 auto;
  font-size: 1.8rem;
  margin-left: 0;
}

/* SEARCH >> RESULTS HOVER */
.charalist a:hover{
  color: var(--color-turquoise);
  text-decoration: underline 1px var(--color-pink);
  text-underline-offset: 5px;
}

/* SEARCH >> TEXT OF RESULTS */
.list-link{
  color: var(--color-white);
  text-align: start;
}

/* SEARCH >> LIST OF RESULTS */
.list-link li{
  list-style-type: disc;
}

/* .search{
    float: left;
} */

.divider-custom {
  margin: 2.5rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 40rem;
  height: 0.1rem;
  background-color: var(--color-white);     
  border-radius: 1rem;
  margin-top: 1rem;
}

.divider-custom-line{
  filter:
  drop-shadow(0px 0px 3px blue)
  drop-shadow(0px 0px 7px #DB3ED4)
  drop-shadow(0px 0px 10px #DB3ED4)
  drop-shadow(0px 0px 15px #DB3ED4);  
}


/* .divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--color-white);
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: var(--color-white);
}
.divider-custom.divider-light .divider-custom-icon {
  color: var(--color-white);
} */
/* The app flash close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 3rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}


/* +++++++++++++++++++++++++++ */
/*          BACKOFFICE         */
/* +++++++++++++++++++++++++++ */

/* GLOBAL */

#black, .table.list-group-flush{
    padding-left: 2rem;
    margin-top: 3rem;
    color: white;
    /* background-color: var(--bg-purple); */
}

ul.list-group, ul.list-group li.list-group-item, table, .input-group-sm{
  font-family: 'Syne Mono', monospace;
  font-size: 1.2rem;
  text-shadow: none;
}


.container-fluid.bo{
  font-family: 'Syne Mono', monospace;
  background: none;
  height: auto;
}

.offcanvas-body{
  background-color: var(--bg-purple);
  height: 100vh;
}

section p, section form, .container.bo{
  font-family: 'Syne Mono', monospace;
  font-weight: normal;
}


/* +++++++++++++++++++++++++++ */
/*        BACKOFFICE LOGO      */
/* +++++++++++++++++++++++++++ */

.logo-text-bo{
  margin-top: 0.5rem;
  text-shadow: 
    2px 0px 2px var(--color-turquoise), 
    0 0 0.3em var(--color-turquoise), 
    0 0 0.3em var(--color-turquoise);

  letter-spacing: 5px;
  color: var(--color-white);

  filter:
    drop-shadow(0px 0px 1px black)
    drop-shadow(0px 0px 3px green)
    drop-shadow(0px 0px 10px var(--color-turquoise))
    drop-shadow(0px 0px 30px var(--color-turquoise));
}

.logo-text-bo:hover{
  text-decoration: none;
  color: var(--color-white);
}

/* +++++++++++++++++++++++++++++ */
/*           BUTTONS BO          */
/* +++++++++++++++++++++++++++++ */

/* BUTTONS BO >> HEADERS */

.btn-bo, .a-bo{
  height: 3rem;
  line-height: 2.2rem;
  width: 15rem;
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;  
  color: var(--color-white);
  text-decoration: none;
  filter: none;
}

.detail{
  border: 2px solid var(--color-turquoise);
}

.edit, 
#category_submit:hover,
#character_submit:hover,
a.badge.btn-bo.edit
{
  border: 2px solid var(--color-pink);
}

.delete{  
  border: 2px solid #fc5130;
}

.return{
  border: 2px solid var(--color-white);  

}

.mx-2{
  margin-left: 0 !important;
}

/* FORM >> ADD CATEGORIES */
fieldset, #tv_show_categories{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* BUTTONS >> HOVER & FOCUS */
.btn-bo:hover, a .a-bo{
  color: var(--color-white);
  font-weight: bold;    
  border-radius: 10px;
  background-color: var(--bg-purple);
  filter:none;
  text-shadow: none;
}

input .bo, label .bo{
  font-family: 'Syne Mono', monospace;
}

.detail:hover, .a-bo.detail:hover, .btn.mx-2.bo:hover, .btn.mx-2.deco.bo{
  color: var(--color-turquoise);
}

.edit:hover, .a-bo.edit:hover{
  color: var(--color-pink);
}

.return:hover, .a-bo.return:hover {
  background-color: var(--color-white);
  color: var(--bg-purple);
}

.delete:hover, .a-bo.delete:hover{  
  color: #fc5130;
}

/* NAV BO >> CONNEXION */
.btn.mx-2.deco.bo{
  text-decoration: underline 1px var(--color-turquoise);
  text-underline-offset: 5px;
}

/* NAV BO >> CONNEXION HOVER & BUTTON GO */
.btn.mx-2.deco.bo:hover, .btn.noborder.bo:hover{
  background-color: transparent;   
  color: var(--color-white);
  filter:
  drop-shadow(0px 0px 3px green)
  drop-shadow(0px 0px 6px var(--color-white))
  drop-shadow(0px 0px 7px var(--color-turquoise))
  drop-shadow(0px 0px 10px var(--color-turquoise))
  drop-shadow(0px 0px 15px var(--color-turquoise));
  transition-duration: 0s;
  border: none;
}

/* NAV BO >> SEARCH INPUT */
#search-bo{
  color: var(--color-turquoise);
  background-color: transparent;
  font-family: 'Syne Mono', monospace;
}

.a.btn.mx-2.deco.bo, .nav-link.bo{
  text-decoration: none;
  color: var(--color-white);
}

/* NAV BO >> ACTIVE ITEM */
.a.btn.mx-2.deco.bo.active.bo{
  color: var(--color-white); 
  text-decoration: underline overline 1px solid var(--color-turquoise);
}

.a.btn.mx-2.deco.bo:hover{
  border: none;
  color: var(--color-pink);
  filter: none;
  text-decoration: underline 1px solid var(--color-turquoise);
}

section.bo{
  height: 15rem;
}

/* +++++++++++++++++++++++++++ */
/*           CARDS BO          */
/* +++++++++++++++++++++++++++ */

/* CARDS BO >> HEADERS */

.card-header, .card-text{
  text-shadow: none; 
  text-transform: uppercase;  
  font-size: 1rem;
}


.card-body.bo{
  text-transform: capitalize;
  font-size: 0.8rem;
  border:none;
  background-color: transparent;
}

hr{
  opacity: inherit;
  color: var(--color-white);
}

thead{
  text-transform: uppercase;
}

.hashtag{
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline 2px solid var(--color-turquoise);
  text-underline-offset: 4px;
}

/* SIDEBAR */

.navbar-dark{
  text-transform: capitalize;
}

.sidebar-nav{
  width: var(--offcanvas-width);
}

.sidebar-link{
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
    transition: all ease 0.25s;
}

li.my-4 hr.dropdown-divider{
  opacity: inherit;
}


  .err_txt{
    color: black;
    margin-top: 8rem;
  }

  .err_tx{
    color: var(--color-white);
    margin-top: 8rem;
  }

  





@media (min-width:992px) {
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
    display: none;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav{
    transform: none;
    visibility: visible !important;
    top:var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }
}

.bg-custom {
  --bs-bg-opacity: 1;
  background-color: #586066;
  border: 1px dotted var(--color-white);

}

.shadoo{
  box-shadow:8px 6px 10px rgba(0, 0, 0, 0.445);
}

#al{
  margin: 0;
}

.nolink, .nolink:hover, .nolink a, .nolink:active, .nolink:visited{
  text-decoration: none;
  color: var(--color-white);
}

.fds{
  position: absolute;
  right: 20px;
}
