{% extends 'base.html.twig' %}

{% block title %}
    Résultat(s) de la recherche - {{parent()}}
{% endblock %}

{% block body %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            
            <h1 class="fw-light search-result">Résultat(s) pour votre recherche : <span class="true">{{query}}</span></h1>
            <br>
            
                <ul class="charalist search">
                    {% for result in search %}
                        <a href="{{path('show_single', {id: result.id})}}" class="list-link"> <li> {{result.title}} </li></a>
                    {% else %}
                        <p class="lead">Aucun résultat</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
