{% extends "backoffice/layout.html.twig" %}
{% block title %}
    Modifier personnage - Backoffice - {{parent()}}
{% endblock %}

{% block content %}
        <section class="container text-center">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Modifier un personnage</h1>
                </div>
            </div>
        </section>

        <div class="input-group-sm mb-3 mx-auto text-center" style="width: 600px;">
            {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
            
            {{ form_end(formView) }}
            <a class="badge btn-bo return" href=" {{ path('backoffice_character_home') }} ">Retour à la liste</a>  
        </div>  

    </main>
{% endblock %}