<h1>Activation de votre compte 80's Flix</h1>

<p>Vous avez créé un compte sur 80's Flix, veuillez cliquer sur le lien afin de l'activer</p>

<p><a href=" {{absolute_url(path('activation', {'token' : token}))}} ">Activer mon compte</a></p>